.Inner-Container {
  display: flex;
  /* align-items: stretch; */
  width: 100%;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.xx-child{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom:16px;
  cursor:pointer;
  border-bottom: 1px solid black;
}
.xx-a{
  font-size:20px;
  font-family:'Ubuntu',sans-serif;
}
.horizontal-line {
  border: none;
  border-top: 1px solid black;
}
.abc {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-basis:795px; */
  /* width:100%; */
  /* justify-content:centre; */
}
h1 {
  font-family: "Ubuntu", sans-serif;
  /* text-align: start ; */
  font-size: 40px;
}

.flex-container-a{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.headed{
  color:#ee3425;
}
.flex-container-b{
  display: flex; flex-direction: row;justify-content: center;
}
.but{
  display:flex;
  margin-bottom:30px;
  width:100%;
  justify-content: center;

}
.container-cc{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 200px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(169, 188, 218, 0.65);
  padding: 0 20px;
  text-align:left;
}
.container-ee{
  display:none;
}

.but1{
background-color: #fbdc00;
border:#fbdc00;
font-size:14px;
font-family: "PT Sans", sans-serif;
width: 200px;
  padding: 20px;
  margin: 10px 20px;
  font-weight: 700;
  color: #000!important;
  border-radius: 20px;
}
.but2{
  background-color: #e5dfdf;
  border: grey;
  font-size:14px;
  font-family: "PT Sans", sans-serif;
  width: 200px;
  padding: 20px;
  margin: 10px 20px;
  font-weight: 700;
  color: #000!important;
  border-radius: 20px;
  }
.img1{
  width:100%;
  height:auto;
}
.container-dd{
  justify-content: center;
      display: flex;
      flex-direction: column; flex-basis:560px;margin-left:2px
}



.styling-numbers {
  color: #ee3425;
  font-size: 40px;
}
.sizing {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}
.h3-sizing {
  font-size: 28px;
  font-family: "Ubuntu", sans-serif;
}
.read-more-style {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #fbdc00;
  width: 100%;
  padding: 0; /* Add padding to create spacing */
  box-sizing: border-box; /* Ensure padding is included in the width */
  flex-wrap: wrap;
}
.container-a .right-item {
  flex-basis: 343px;
  margin-right: 0px;
}
.container-a .left-item {
  flex-basis: 343px;
}
.flex-container2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
  background: #fffef2;
  flex-wrap: wrap;
}
.flex-container2 .left-item {
  flex-basis: 343px;
}
.container-j .left-item {
  flex-basis: 343px;
  align-items: start;
  margin-left: 50px;
}
.container-j .right-item {
  flex-basis: 343px;
}

.left-item {
  flex-basis: 343px;
  /* display:flex; */
  /* flex:1; */
  /* padding: 20px; */
  /* text-align:center; */
  /* justify-content:center; */
  /* align-items:center; */
  /* background-color: yellow; */
  /* height:100%; */
  display: flex;
  flex: 1;
  padding: 20px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.left-item p {
  font-family: "PT Sans", Sans-serif;
  text-align: start;
  font-size: 16px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  border-radius: 40px;
  justify-content: center;
  margin-left: 150px;
}

.form p {
  margin-bottom: 10px;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
}

.form-inputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 12px;
}

.form-inputs select {
  /* margin-right: 10px; */
  /* flex:1; */
  padding: 8px;
  font-size: 16px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: transparent;
}

.form-inputs input {
  /* flex: 1; */
  /* margin-right: 10px; */
  /* padding: 5px;
    font-size: 16px; */
  /* border-radius: 12px; */
  padding: 10px;
  font-size: 14px;
  /* border-radius: 12px; */
  border: transparent;
}
.transition{
  transition: .3s;
    transform: rotate(90deg);
}
.form-inputs button {
  /* flex:1; */
  color: white;

  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background: #36bb22;
  border: 1px solid #36bb22;
  /* border-radius: 12px; */
  border-left: none;
  border-bottom-right-radius: 10px;
  /* border-left: none; */
  border-top-right-radius: 12px;
}
.right-item {
  flex: 1;
  display: flex;
  flex-basis: 343px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin-right: 100px; */
  /* height:100vh; */
  /* width:100%; */
  /* background-color: yellow; */
}
.flex-container2 .right-item {
  flex-basis: 343px;
  margin-right: 0px;
}

.right-item video {
  width: 100%;
  height: 420px;
}
.flex-container-horizontal {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  margin-bottom: 100px;
}

.flex-item {
  flex: 1;
  /* padding: 10px; */
  /* background-color: #f1f1f1; */
  /* color:#ee3425; */
  font-family: "Ubuntu" Sans-serif;
  margin-right: 40px;
}

.row3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.text {
  flex-basis: 230px;
  /* margin-right: 10px; */
  font-size: 24px;
  margin-right: 100px;
  font-family: "Ubuntu", sans-serif;
  text-align: start;
}
.red-sizing {
  color: #ee3425;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
}
.svg-margin {
  margin-right: 5px;
  margin-left: 5px;
}

.square {
  display: flex;
  width: 184px;
  height: 180px;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  flex-basis: 150px;
  margin-bottom: 20px;
  margin-top: 14px;
  border: 1.5px solid transparent;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(169, 188, 218, 0.65);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.square:hover {
  box-shadow: 0 1px 6px red;
}
.empty-square {
  border: none;
  background: #fffef2;
  box-shadow: none;
  cursor: default;
}
.empty-square:hover {
  box-shadow: none;
}
.container3 {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fffef2;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-anime {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.child_container-anime {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 150px;
  width: 100%;
}

.container-anime > h3 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 1em;
  padding-top: 20px;
}

.animations {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  /* left: 100%; */
  /* top: 150px; */
  /* margin-right: 100px; */
  animation: move 20s linear 0s infinite;
  width: 100%;
}
.final_anima {
  margin-right: 6px;
}
.footer a:hover {
  color: red;
}
.container-k {
  margin-right: 0px;
  flex-basis: 343px;
}
.container-l {
  flex-basis: 343px;
  
}
.hid-cont{
  display:none;
}
@keyframes move {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.container4 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 16px;
  background-color: #fbdc00;
  flex-wrap: wrap;
}

.text4 {
  margin-left: 40px;
  /* flex: 1; */
  margin-right: 26px;
  padding: 20px;
  text-align: center;
  align-items: center;
  font-size: 28px;
  font-family: "Ubuntu", sans-serif;
  /* background-color: yellow; */
}

.button4 {
  /* margin-left: auto; */
  /* margin-right: 480px; */

  /* flex: 1.0; */
  justify-content: center;
  /* display:flex; */
  font-size: 14px;
  padding: 20px;
  background-color: #ee3425;
  border: 1px solid #ee3425;
  border-radius: 10px;
  /* width:100%; */
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}

.container5 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  padding: 20px 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  /* margin-bottom: 100px; */
}

.container5 .heading {
  text-align: center;
  margin-bottom: 28px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.button5 {
  width: 200px;
  height: 40px;
  margin: 0 20px;
  border-radius: 20px;
  border: 1px solid transparent;
}

.vertical-boxes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 40px;
}

.vertical-box {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  margin: 0 20px;
  /* margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 10px; */
  /* overflow: hidden; */
  text-align: start;
  cursor: pointer;
  /* box-sizing: border-box; */
  border-radius: 8px;

  box-shadow: 0px 3px 6px rgba(201, 201, 201, 0.5);
  /* border:1px solid grey; */
}

.square-box {
  width: 180px;
  height: 180px;
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 40px;
}
.container6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  margin-bottom: 28px;
  font-size: 28px;
  font-family: "Ubuntu", sans-serif;
  color: black;
}

.image-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* img {
  width: 84px;
  height: 100px;
  object-fit: cover;
} */

/* p {
  margin-top: 5px;
  text-align: left;
} */
.container7 {
  display: flex;
  width: 100%;
}

.video {
  flex: 1;
  max-width: 100%;
}
.subscribe-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  /* padding: 10px; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.email-field {
  flex: 1;
  padding: 5px;
  border: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* width: 250px; */
  height: 30px;
}

.subscribe-button {
  background-color: #ee3425;
  color: #fff;
  border: transparent;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flex-container8 {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  background-color: #fbdc00;
  justify-content: space-evenly;
  color: black;
  width: 100%;
}

/* .heading {
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  text-decoration: underline;
} */

.lists-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list {
  margin: 20px 50px;
  padding: 0;
}

.list-title {
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 20px;
  text-decoration: underline;
  text-align: start;
}

.list-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  margin-bottom: 20px;
  font-size: 14px;
  text-align: start;
}

.link {
  text-decoration: none;
  color: black;
}

.container9 {
  background-color: #ebbe00;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
a {
  font-family: "PT Sans";
  font-size: 14px;
}
a:hover {
  text-decoration: underline;
}
.container-xx{
  display:none;
  
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .text {
    flex-basis: 0;
    margin-right: 0;
  }
  .row3 {
    flex-direction: column;
  }
  .vertical-boxes {
    flex-direction: column;
  }
  .vertical-box {
    margin-top: 20px;
  }
  .container-a {
    flex-direction: column;
  }
  .container9 {
    flex-direction: column;
  }
  .container-a .right-item {
    order: 1;
    width: 100%;
    /* flex: 1.0 1; */
    /* display: flex */
    padding: 20px 0;

    margin-right: 0;
    /* height: 100vh; */
    width: 100%;
    /* padding: 20px 0; */
  }
  .container-a .left-item {
    order: 2;
    padding: 20px 0;
    width: 100%;
  }
}
.container-b {
  margin-left: 60px;
}
.last-square {
  margin-right: -142px;
}
@media screen and (max-width: 480px) {
  .container-h{
    margin-right: 30px;
  }
  .container-i{
    margin-right: 30px;
  }
  .container9 {
    flex-direction: column;
  }
  .container-c {
    margin-right: 0;
  }
  /* .container-a{
    flex-direction: column;

  } */
  .vertical-boxes {
    flex-direction: column;
    /* margin-bottom:10px; */
  }
  .vertical-box {
    margin-bottom: 10px;
  }
  .flex-container .right-item {
    order: 1;
  }
  .flex-container .left-item {
    order: 2;
    padding: 20px;
  }
  .container-b {
    margin-left: 0px;
  }
  .form-inputs {
    
    width:100%;
  }
  .container-d {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: transparent;
  }
  .container-e {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: transparent;
    margin-top: 6px;
  }
  .abc {
    flex-direction: column;
  }
  .last-square {
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .row3 {
    flex-direction: column;
  }
  .text {
    flex-basis: 0;
    margin-right: 0px;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  
  .abc {
    flex-direction: column;
  }
  .last-square {
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .row3 {
    flex-direction: column;
  }
  .text {
    flex-basis: 0;
    margin-right: 0px;
  }
  .vertical-boxes {
    flex-direction: column;
  }
  .container9 {
    flex-direction: column;
    align-items: start;
  }
  .xyz {
    flex-direction: row;
  }
  .container-k {
    flex-basis: 0px;
    order:1;
  }
  .container-l {
    flex-basis: 0px;
  }
  .container-f {
    flex-basis: 230px;
    margin: 0;
  }
  .container-g {
    flex-basis: 250px;
    margin: 0;
  }
  .container-h {
    flex-basis: 290px;
    margin: 0;
  }
  .container-i {
    flex-basis: 190px;
    margin: 0;
  }
  .flex-container {
    flex-direction: column;
  }
  .container-b {
    margin-left: 0;
  }
  .form-inputs {
    margin-right: 60px;
  }
  .flex-container .right-item {
    order: 1;
  }
  .flex-container .left-item {
    order: 2;
    padding: 20px 0;
  }
  .flex-container2 {
    flex-direction: column;
  }
  .flex-container2 .right-item {
    order: 1;
  }
  .flex-container2 .left-item {
    order: 2;
  }

  .right-item {
    margin-right: 0;
  }
  .image-item {
    margin: 40px;
  }
  .vertical-box {
    margin-top: 20px;
  }
  .list {
    margin-right: 25px;
    margin-left: 25px;
  }
}
@media (max-width: 768px) {
  .container-9{
    flex-direction: column;
    align-items: start;
  }
  .xyz2{
    order:1;
  }
  .xyz1{
    order:2;
  }
  .text4{
    text-align: start;
  }
  .terms{
    display:none;
  }
  .flex-container8{
    display:none;
  }
  .flex-container-b {
    flex-direction: column;
    width:100%
  }
  .container4{
    flex-direction: column;
    align-items: start;
  }
  .container-a{
    align-items: left;
  }
  .bitbut{
    margin-left:60px;
  }
  .container-cc{
      margin-bottom: 50px;
      width:100%;
      box-sizing:border-box;
  }
  .container-dd{
      display: none;
  }
  .container-ee{
      display:flex;
      justify-content: center;
      margin-bottom: 30px;
  }
  .but{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .container-xx{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family:"Ubuntu",sans-serif;
    background: #fbdc00;
    box-sizing: border-box;
    font-size:20px;
    padding:30px;
    font-weight: bold;

  }
  .container-cont{
    align-items: start;
  }
  .container-k p{
    padding:20px;
    box-sizing: border-box;
  }
  .hid-cont{
    display:flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 40px;

  }
  .container3{
    display:none;
  }
}
