/* .Navbar-parent{
  position:relative;
} */
.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: row;
  width: 100%;
  top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu" sans-serif;
  font-size: 14px;
  flex-wrap: wrap;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
  /* text-decoration: None; */
}
.logo {
  /* flex: 1; */
  /* margin-right: auto;
  margin-left: auto; */
  display: block;
  flex-shrink: 0;
  margin-left: auto;
  cursor:pointer;
}
.dropdown {
  /* cursor: pointer; */
 
  /* margin-left: 5%; */
  cursor: pointer;
  margin-right: 30px;
  /* font-weight:500; */
}
.Contact {
  text-decoration: None;
  margin-left: 20px;
}
.yellow-bg {
  background: #fbdc00;
  position: sticky;
  top: 0;
}

.white-bg {
  background-color: white;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
}

.logo img {
  height: 30px;
  width: 30px;
}

.nav-items {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  justify-content: space-evenly;
  margin:0 auto;
  flex-wrap: wrap;
  /* flex: 1.5; */
}

.auth-buttons {
  display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
  /* justify-content: center;
  align-items: center; */
  /* margin-right: 5%; */
}

.login-button{
  margin-right:16px;
}
.signup-button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  cursor: pointer;
  width:auto;
  /* margin:auto; */
  /* margin-right: 16px; */
  /* margin-left: 5%; */
}

strong {
  font-family: "Ubuntu";
}
.dropdown-trigger{
  display:flex;
  flex-direction: row;
}
.dropdown-trigger:hover {
  
  color: red;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-items {
    margin-top: 20px;
  }

  .dropdown {
    margin-left: 0;
    margin-top: 10px;
  }

  .dropdown-content {
    min-width: 100%;
  }
}