.Navbar-parent {
  position: relative;
}
.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: row;
  max-width: 100%;
  top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: Ubuntu sans-serif;
  font-size: 14px;
  flex-wrap: wrap;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
  /* text-decoration: None; */
}
.logo {
  /* flex: 1; */
  /* margin-right: auto;
  margin-left: auto; */
  display: block;
  flex-shrink: 0;
  margin-left: auto;
  cursor: pointer;
}
.logo svg {
  align-self: center;
}
.logo1{
  display: block;
  flex-shrink: 0;
  margin-left: auto;
  cursor: pointer;
}
.logo1 svg{
  align-self: center;
}
.dropdown {
  /* cursor: pointer; */

  /* margin-left: 5%; */
  cursor: pointer;
  margin-right: 30px;
  /* font-weight:500; */
}
.Contact {
  text-decoration: None;
  margin-left: 20px;
}
.yellow-bg {
  background: #fbdc00;
  position: sticky;
  top: 0;
}

.white-bg {
  background-color: white;
  position: sticky;
  bottom: 0;
  /* border-bottom: 1px solid black; */
  box-shadow: 0 1px 6px rgba(169, 188, 218, 0.65);
  box-sizing: border-box;
  /* box-shadow: 1px 1px 1px grey; */
  width: 100%;
}

.logo img {
  height: 30px;
  width: 30px;
}
.logo1 img{
    height: 30px;
    width: 30px;
  
}

.nav-items {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
  /* flex: 1.5; */
  /* margin-left: 5px; */
}

.auth-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-top: 8px;
  margin-left: 6px;
  /* justify-content: center;
  align-items: center; */
  /* margin-right: 5%; */
}
.auth-buttons svg {
  margin-right: 10px;
  align-self: center;
}

.login-button {
  margin-right: 16px;
  cursor: pointer;
}
.signup-button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  cursor: pointer;
  width: auto;
  /* margin:auto; */
  /* margin-right: 16px; */
  /* margin-left: 5%; */
}

strong {
  font-family: "Ubuntu";
}
.dropdown-trigger {
  display: flex;
  flex-direction: row;
}
.dropdown-trigger svg {
  margin-left: 4px;
  font-size: 10px;
}
.dropdown-trigger:hover {
  color: red;
}
.hamb{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.resp-nav{
  
  display: none;
}
@media screen and (max-width: 768px) {
  .resp-nav{
    display:flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  /* margin-left:60px; */
  }
  .logo{
    display:none;
  }
  .nav-items{
    display:none;
  }
  .auth-buttons{
    margin-right: 60px;
    display:none;
  }
  .navbar{
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
  }
}
@media screen and (max-width: 1024px) and (min-width:769px) {
  .navbar {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }

  .nav-items {
    /* margin-top: 20px; */
    margin: 0;
    margin-bottom: 10px;
    align-self: center;
    align-items: center;
    margin-left: 5px;
  }
  .logo {
    align-self: center;
    margin: 0;
  }
  .dropdown {
    margin-left: 0;
    margin-top: 10px;
  }

  .dropdown-content {
    min-width: 100%;
  }
  .auth-buttons {
    align-self: center;
    margin: 0;
  }
}
