.alert {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ee3425;
  color: #fff;
  padding: 10px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
  flex-wrap: wrap;
}
.alert-text {
  display: flex;
  flex: 1 1;
  align-self: center;
  justify-content: center;
}
/* .logo {
  display: flex;
  align-items: center;
} */
.white-bg{
  padding:0;
}
.alert-text img {
  width: 12px;
  height: 12px;
  align-self: center;
  margin-right: 4px;
}

.book-link {
  color: #fbdc00;
  text-decoration: none;
}

.close-btn {
  cursor: pointer;
  color: #fbdc00;
  display: flex;
  align-self: center;
  /* width: 20px;
  height: 20px; */
  margin-right: 5%;
  cursor: pointer;
}
